body {
  background: blanchedalmond;
}
*{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.a{
  background-color: rgb(244, 95, 9);
  height: 80px;
  width: 99%;
  border: 2px solid black;
  border-style: groove;
}
.b{
  background-color: rgb(97, 19, 19);
  border: 2px solid black;
  width: 83%;
  height: 800px;
  border-style: groove;
}
.c{
  background-color: rgb(24, 107, 242);
  width: 15%;
  margin-top: 15px;
  margin-left: 8.5px;
  height: 800px;
  text-align: center;
  border: 2px solid black;
  border-style: groove;
}
.b , .c{
  display: inline-flex;
}

@media(max-width: 900px) {
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .b{
    height: 30em;
    width: 99%;
    margin: 15px;
  }
  .a , .c{
    height: 6em;
    width: 99%;
    margin: 15px;
  }
}                  

