body {
  background: papayawhip;
}
*{
  width: 80em;
}
.a{
  background-color: dodgerblue;
  height: 10em;
  margin: 1em;
  text-align: center;
  border: 2px solid;
  width: 76.5em;
}
.b{
  background-color: darkcyan;
  height: 10em;
  margin: 1em;
  border: 2px solid;
  text-align: center;
  width: 57em;
}

.c{
  background-color: darkseagreen;
  display: inline-flex;
  width:  18em;
  height:  18em;
  border: 2px solid;
  margin-left: 1em;
}
.d{
  background-color: cornflowerblue;
  display: inline-flex;
  width: 18em;
  height:  18em;
  border: 2px solid;
  margin: 1em;
}
.e{
  background-color: lightblue;
  display: inline-flex;
  width:  18em;
  height:  18em;
  border: 2px solid;
}
.f{
  background-color: dodgerblue;
  display: inline-flex;
  width: 18em;
  position: relative;
  height: 30.25em;
  bottom: 12.23em;
  border: 2px solid;
  margin: 1em;
}

@media screen and (max-width: 600px){
  .container{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .a{
     width: 57vh;
     height: 15vh;
     margin: 1vh;

  }
  .b{
    height: 25vh;
    width: 57vh;
    margin-top: 3vh;
    margin-right: 1vh;
    margin-left: 1vh;
    margin-bottom: 2vh;
  }
  .c, .d, .e{
    width: 17vh;
    height: 17vh;
    margin: 0.7vh;
  }
  .f{
    margin-right: 1vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
    margin-left: 1vh;
    height: 15vh;
    display: block;
    width: 58vh;
    width: 57vh;
    top: 0vh;
  }
}

